{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Nos centres {% endblock %}

{% block body %}

<main>
    <a href="{{ path('addCenter') }}" class="btn btn-primary">Ajouter un centre</a>
    <h2>Choix du centre :</h2>
    <div class="centerDisplay">
        {% for center in centers %}
        <div class="card m-2" style="width: 30%;">
            <img src="/img/centerImg/{{center.imageFileName }}" class="card-img-top" alt="Photo du centre médical">
            <div class="card-body">
                <h5 class="card-title">{{center.name}}</h5>
                <p class="card-text">{{ center.city }} - {{ center.country }}</p>
                <a href="{{ path('adminCenters') }}/{{ center.id }}" class="btn btn-primary">Modifier</a>
            </div>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}