{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Nos Médecins {% endblock %}

{% block body %}

<main>
    <h3>Ajouter un médecin :
        <a href="{{ path('addDoctor') }}"><button type="button" class="btn btn-primary mt-3">Ajouter</button></a>
    </h3>
    <h1>Liste des médecins</h1>
    <ol>
    {% for doctor in doctorArray %}
        <li>{{doctor.gender}} - {{doctor.firstName}} - {{doctor.lastName}} - {{doctor.lastName}} - {{doctor.emailAddress}} - {{doctor.center.name}}</li>
        <a href="{{ path('deleteDoctor') }}/{{ doctor.id }}"><button type="button" class="btn btn-danger mt-3">Supprimer</button></a>
        <a href="{{ path('editDoctor') }}/{{ doctor.id }}"><button type="button" class="btn btn-primary mt-3">Modifier</button></a>
    {% endfor %}
    </ol>
</main>

{% endblock %}