{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modifier un docteur {% endblock %}

{% block body %}

<main class="d-flex align-items-center flex-column">
    <h2>Modifier une spécialité médicale</h2>
    <form action="{{ path('confirmationEditSpecialty') }}/{{ specialty.id }}" method="POST">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm"><label for="name" >Nom de la spécialité :</label></span>
                <input name="name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="{{ specialty.name}}">
            </div>
            <div>
                <button type="submit" class="btn btn-primary mt-3">Modifier</button>
            </div>
            <div>
                <a href="{{ path('homepage') }}"><button type="button" class="btn btn-primary mt-3">Annuler</button></a>
        </div>
    </form>
</main>

{% endblock %}