{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Centre de {{ center.city }} {% endblock %}

{% block body %}
<main>
    <div class="presentationCentre">
        <h1>Votre centre de {{ center.city }}</h1>
        <img src="/img/centerImg/{{center.imageFileName }}" alt="Photo du centre médical" width="600px">
        <p>Adresse du centre : {{ center.address }}</p>
        <h3>Les spécialités du centre :</h3>
        <ul>
            {% for specialty in center.specialties %}
            <li>{{ specialty.name }}</li>
            {% endfor %}
        </ul>
        <a href="{{ path('editCenter') }}/{{ center.id }}" class="btn btn-primary mt-3">Modifier</a>
        <a href="{{ path('deleteCenter') }}/{{ center.id }}" class="btn btn-primary mt-3">Supprimer</a>
        <a href="{{ path('adminCenters') }}" class="btn btn-primary mt-3">Revenir aux centres</a>
    </div>
</main>

{% endblock %}