{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Nos Médecins {% endblock %}

{% block body %}

<main>
    <h1>Liste des médecins</h1>
    <ul>
    {% for doctor in doctorArray %}
        <li>{{doctor.gender}} - {{doctor.firstName}} - {{doctor.lastName}} - {{doctor.lastName}} - {{doctor.emailAddress}} - {{doctor.center.name}}</li>
    {% endfor %}
    </ul>
</main>

{% endblock %}