{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Centre de {{ center.city }} {% endblock %}

{% block body %}
<main>
    <div class="presentationCentre">
        <h1>Votre centre de {{ center.city }}</h1>
        <img src="/img/centerImg/{{center.imageFileName }}" alt="Photo du centre médical" width="600px">
        <p>Adresse du centre : {{ center.address }}</p>
        <h3>Les spécialités du centre :</h3>
        <ul>
            {% for specialty in center.specialties %}
            <li>{{ specialty.name }}</li>
            {% endfor %}
        </ul>
        {% if sessionData %}
            <a href="{{ path('reservation') }}/{{ center.id }}" class="btn btn-primary mt-3">Prendre rendez-vous</a>
        {% else %}
            <p>Veuillez vous connecter pour effectuer une réservation.</p>
            <a  href="{{ path('connexion') }}" class="btn btn-primary">Connexion</a>
        {% endif %}

        <a href="{{ path('centers') }}" class="btn btn-primary mt-3">Revenir aux centres</a>
    </div>
</main>

{% endblock %}