{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Nos centres {% endblock %}

{% block body %}

<main>
    <h1>Choix du centre :</h1>
    <p>Nombre de centre disponible : {{ centerCities|length }}<p>
    <label for="city">Choisissez une ville :</label>
    <form action="{{ path('centerCity') }}" method="POST"> 
    <select id="selectedCity" name="selectedCity">
        <option value='all' selected>Toutes les villes<option>
        {% for city in centerCities %}
            <option value="{{city}}">{{city}}</option>
        {% endfor %}
    <select>
    <div>
        <button type="submit" class="btn btn-primary mt-3">Chercher</button>
    </div>
    </form>
    {% block centersList %}
    {% endblock %}
</main>

{% endblock %}