{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} | Réservation {% endblock %}

{% block body %}
<main>
    <div class="reservation">
      <form action="{{path ('reservationConfirmation') }}/{{ center.id }}" method="POST">

        {# Choix du docteur #}
        <div class="form-group row">
          <label for="doctor" class="col-4 col-form-label">Docteur</label> 
          <div class="col-8">
            <select id="doctor" name="doctor" class="custom-select">
              {% for doctor in doctors | filter(doctor => doctor.center.name == center.name ) %} {#Si un docteur n'a pas de centre attribué = crash #}
                <option value="{{ doctor.id }}">{{ doctor.lastName }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        {# Choix de la date #}
        <div class="form-group row">
          <label for="interventionDate" class="col-4 col-form-label">Date</label> 
          <div class="col-8">
            <input id="interventionDate" name="interventionDate" type="date" class="form-control">
          </div>
        </div>
        
        {# Choix de l'heure #}
        <div>
          <label for="interventionTime">Choisissez une heure de rendez-vous :</label>
          <input type="time" id="interventionTime" name="interventionTime" min="09:00" max="18:00" value="14:00"required class="m-2"/>
        </div>

        {# Indications particulières #}
        <div class="form-group row">
          <label for="comments" class="col-4 col-form-label">Avez-vous des allergies ou suivez-vous un traitement particulier ?</label> 
          <div class="col-8">
            <textarea id="comments" name="comments" cols="40" rows="5" class="form-control"></textarea>
          </div>
        </div> 

        {# Bouton #}
        <div class="form-group row mt-2">
          <div class="offset-4 col-8">
            <button type="submit" class="btn btn-primary">Confirmer</button>
          </div>
        </div>
      </form>
    </div>
</main>

{% endblock %}