{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Votre compte {% endblock %}

{% block body %}

{# Récupération de la variable de session #}
{% set sessionData = app.session.all() %} 
<main>
    <div class="presentationCentre">
        <h1>Votre espace personnel</h1>
        <p>Adresse email : {{ sessionData.email_address }}<p>
        <p>Genre : {{ sessionData.gender }}</p>
        <p>Prénom : {{ sessionData.first_name }}</p>
        <p>Nom de famille : {{ sessionData.last_name }}</p>
        <p>Adresse : {{ sessionData.address }}</p>
        {# <p>Numéro de téléphone</p> #}
        <p>Numéro de sécurité sociale : {{ sessionData.social_security }}</p>
        <p>Changer de mot de passe</p>

        <a href="{{ path('homepage') }}" class="btn btn-primary mt-5">Revenir à l'accueil</a>
    </div>
</main>

{% endblock %}