{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Votre compte {% endblock %}

{% block body %}

{# Récupération de la variable de session #}
<main>
    <div class="presentationCentre">
        <h3 class="mb-5">Vos informations personnelles</h3>
        <p>Adresse email : {{ sessionData.email_address }}</p>
        <p>Genre : {{ sessionData.gender }}</p>
        <p>Prénom : {{ sessionData.first_name }}</p>
        <p>Nom de famille : {{ sessionData.last_name }}</p>
        <p>Adresse : {{ sessionData.address }}</p>
        {# <p>Numéro de téléphone</p> #}
        <p>Numéro de sécurité sociale : {{ sessionData.social_security }}</p>
        <h5>Votre dossier médical : </h5>
        <p>Vos allergies : {{ medicalFile.allergies }}</p>
        <h5>Vos réservations : </h5>
        <ul>
        {% for reservation in medicalFile.reservations %}
        {# Conversion de la date en objet twig datetime #}
        {% set datetime_object = reservation.date %}
        <li><a href="{{ path('reservationDeletetion') }}/{{reservation.id }}" class="btn btn-warning mt-3">Annuler</a>  Dr {{ reservation.doctor.lastName }} - {{ reservation.center.name }} - {{ datetime_object|date("d/m/Y H:i") }}</li>
        {% endfor %}
        </ul>
        <a href="{{ path('editAccount') }}" class="btn btn-primary mt-3">Modifier mes informations personnelles</a>
        <a href="{{ path('homepage') }}" class="btn btn-primary mt-3">Revenir à l'accueil</a>

    </div>
</main>

{% endblock %}